.columns {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    padding: 10px;
}

.main-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.main-logo img {
    width: 80%;
    max-width: 350px;
    padding: 40px 25px;
    animation: gradient-drop-shadow 5s ease infinite;
}

@keyframes gradient-drop-shadow {
    0% {
      filter: drop-shadow(0px 0px 10px rgb(6, 50, 120)) drop-shadow(0px 0px 20px rgb(81, 20, 115)) drop-shadow(0px 0px 30px rgb(22, 72, 116));
    }
    25% {
      filter: drop-shadow(0px 0px 10px rgb(81, 20, 115)) drop-shadow(0px 0px 20px rgb(22, 72, 116)) drop-shadow(0px 0px 30px rgb(6, 50, 120));
    }
    50% {
      filter: drop-shadow(0px 0px 10px rgb(22, 72, 116)) drop-shadow(0px 0px 20px rgb(6, 50, 120)) drop-shadow(0px 0px 30px rgb(81, 20, 115));
    }
    75% {
      filter: drop-shadow(0px 0px 10px rgb(81, 20, 115)) drop-shadow(0px 0px 20px rgb(6, 50, 120)) drop-shadow(0px 0px 30px rgb(22, 72, 116));
    }
    100% {
      filter: drop-shadow(0px 0px 10px rgb(6, 50, 120)) drop-shadow(0px 0px 20px rgb(81, 20, 115)) drop-shadow(0px 0px 30px rgb(22, 72, 116));
    }
  }
  