html, body {
    margin: 0;
    padding: 0;
    font-family: "Fira Code", monospace;
    font-size: 16px;
    line-height: 1.5;
    background-color: #000;
    width: 100%;
    height: 100%;
    text-wrap: pretty;
}

.navbar {
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1000;
    animation: fadeIn 1s forwards;
}

.navbar a {
    float: right;
    display: block;
    color: #F4030B;
    text-shadow: 0 0 20px #F4030B, 0 0 20px #F4030B;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: color 0.2s ease;
}

.navbar a:hover, .navbar .icon {
    color: #00ff00;
    text-shadow: 0 0 10px #00ff00, 0 0 30px #00ff00;
}

.navbar .icon {
    display: none;
}

.navbar .icon span {
    margin-top: 6px;
    width: 1.25em !important;
    height: 1.25em !important;
}

.navbar .icon:active {
    color: #F4030B;
}

.navbar a:active {
    -webkit-tap-highlight-color: transparent;
}

.navbar .links {
    display: flex;
    justify-content: flex-end;
}

.navbar .logo {
    position: absolute;
    padding: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar .logo img {
    width: auto;
    cursor: pointer;
    margin: 5px 15px;
    transition: all 0.2s ease;
    height: 42px;
}

.navbar .logo:hover img {
    filter: drop-shadow(0 0 8px #00ff00);
}

#cnv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
}
  
.content {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    padding-top: 60px;
    text-align: center;
    color: #00ff00;
    text-shadow: 0 0 3px #00ff00, 0 0 7px #00ff00;
    transform: scale(1);
    transition: 0.5s all ease-in-out;
}

.home {
    animation: fadeIn 1s forwards;
    width: 100%;
    height: calc(100svh - 110px);
    padding-top: 50px;
    position: relative;
    overflow-x: auto;
    mask-image:
        linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) calc(100% - 60px), rgba(0, 0, 0, 0) 100%),
        linear-gradient(to left, black 10px, transparent 11px);
}

@media screen and (max-width: 600px) {
    .links {
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease-in-out;
        float: left;
        display: block !important;
        margin-top: 52px;
    }

    .navbar a { 
        float: none; 
        position: sticky;
        text-align: left; 
        display: none;
    }
    
    .navbar .icon {
        display: block;
        position: relative;
        right: 0;
        float: right;
        padding: 10px 20px;
        cursor: pointer;
        top: 0;
    }
    
    .navbar .responsive a {
        display: block;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
        padding: 14px 20px;
    }

    .navbar .responsive a.show {
        transform: translateX(5px);
    }

    .home {
        padding-top: 20px;
        height: calc(100svh - 80px);
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

h1 {
    margin: 0;
    padding: 20px;
}

.blur {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.transparent {
    background: rgba(0, 0, 0, 0);
}

.good-blur {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.red {
    color: #F4030B;
    text-shadow: 0 0 10px #F4030B, 0 0 20px #F4030B;
}

::-webkit-scrollbar-thumb {
    background: rgba(79, 254, 0, 0.2);
    border-radius: 10px;
    -webkit-mask-image: none;
}

.button {
    background: rgba(0, 0, 0, 0.25);
    border: 2px solid #F4030B;
    color: #F4030B;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 0.9em;
    font-family: inherit;
    font-weight: bold;
}

.button:hover {
    background: rgba(0, 0, 0, 0.5);
    color: #000;
    border: 2px solid #00ff00;
    color: #00ff00;
}

a {
    color: #F4030B;
    text-shadow: 0 0 10px #F4030B, 0 0 20px #F4030B;
    transition: all 0.2s ease;
}

a:hover {
    color: #00ff00;
    text-shadow: none;
}

.readme img {
    max-width: 100%;
}

.readme .badges img {
    margin-left: 5px;
}